{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks,
  [{"(linux|darwin|solaris)", app_compile, "make"},
   {"(freebsd)", app_compile, "gmake"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make clean"},
   {"(freebsd)", clean, "gmake clean"},
   {"(linux|darwin|solaris)", compile, "rm ebin/*.app"},
   {"(freebsd)", clean, "rm ebin/*.app"},
   {"(linux|darwin|solaris)", compile, "make"},
   {"(freebsd)", compile, "gmake"}]}.
